VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Future Network ; October 2022
VITE_POOL_CONTRACT_ID=
VITE_TOKEN_CONTRACT_ID=
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
